<IfModule mod_authz_core.c>
    <FilesMatch "^(?:route|contact)\.php$">
        Require all granted
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "^(?:route|contact)\.php$">
        Order Deny,Allow
        Allow from all
    </FilesMatch>
</IfModule>
